<template id="tpl-game-piece">
  <div class="piece"></div>
  <style>
    .piece {
      box-shadow: 0 0 2px 1px hsla(0, 0%, 0%, 0.3),
        0 0 4px 2px hsla(0, 0%, 0%, 0.3);
      border-radius: 5px;
      width: 60px;
      height: 60px;
      background: purple;
      position: relative;
      touch-action: none;
      user-select: none;
      transform: scale(1) rotate(0deg);
      transition: background 0.2s, border-radius 0.2s, box-shadow 0.2s,
        transform 0.2s;
    }
    .piece.--grabbed {
      background: darkblue;
      border-radius: 6px;
      box-shadow: 0 0 4px 1px hsla(0, 0%, 0%, 0.1),
        0 0 8px 2px hsla(0, 0%, 0%, 0.1);
      transform: scale(1.08) rotate(-4deg);
      z-index: 100;
    }
  </style>
</template>

<script type="module">
  import fc from "/node_modules/@dvo/fc/src/index.js";
  import { throttle } from "/scripts/utils.js";

  const loadComponent = () => {
    const board = document
      .querySelector("game-board")
      .shadowRoot.querySelector(".board");
    const getPiece = (el) => el.shadowRoot.querySelector(".piece");

    const { interact, move } = window.g.dragAndDrop;

    fc({
      tag: "game-piece",
      connectedCallback: (el) => () => {
        const piece = getPiece(el);
        interact(el).draggable({
          listeners: {
            start: (ev) => {
              piece.classList.add("--grabbed");
              console.log("epe", el.parentElement);
              el.parentElement.classList.add("--raised");
            },
            move,
            end: ({ relatedTarget: tile }) => {
              piece.classList.remove("--grabbed");
              el.parentElement.classList.remove("--raised");
            },
          },
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: board,
            }),
          ],
        });
      },
    });
  };

  document.addEventListener("evLoadGame", loadComponent);
</script>
