<template id="tpl-game-board">
  <div class="board"><slot></slot></div>
  <style>
    .board {
      border: 1px solid gray;
      display: grid;
      grid-template-columns: repeat(2, auto);
      /* padding: 1rem; */
      justify-content: left;
      width: fit-content;
      box-sizing: border-box;
      padding: 64px;
      touch-action: none;
      user-select: none;
    }
  </style>
</template>

<script type="module">
  import fc from "/node_modules/@dvo/fc/src/index.js";

  const loadComponent = () => {
    window.g.dragRef = null;

    fc({
      tag: "game-board",
      connectedCallback: (el) => () => {},
    });
  };

  document.addEventListener("evLoadGame", loadComponent);
</script>
